[Unit]
Description=collecty - A system data collecting daemon

[Service]
ExecStart=/usr/sbin/collectyd
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
